---
import './Spaceship.css';

interface ShipConfig {
  className: string;
  inlinePosition: string;
  delay: number;
  duration: number;
}

const ANIMATION_DURATION = 60;
const DELAY_GAP = 15;
const SHIP_OFFSET = '-60px';
const TOP_RANGE_MAX = 70;
const TOP_RANGE_MIN = 10;

const shipConfigs: ShipConfig[] = [
  {
    className: 'spaceship--right-to-left',
    inlinePosition: `top: ${randomTop()}%; right: ${SHIP_OFFSET};`,
    delay: 0 * DELAY_GAP,
    duration: ANIMATION_DURATION,
  },
  {
    className: 'spaceship--left-to-right',
    inlinePosition: `top: ${randomTop()}%; left: ${SHIP_OFFSET};`,
    delay: 1 * DELAY_GAP,
    duration: ANIMATION_DURATION,
  },
  {
    className: 'spaceship--bottom-left-to-top-right',
    inlinePosition: `bottom: ${SHIP_OFFSET}; left: ${SHIP_OFFSET};`,
    delay: 2 * DELAY_GAP,
    duration: ANIMATION_DURATION,
  },
  {
    className: 'spaceship--bottom-right-to-top-left',
    inlinePosition: `bottom: ${SHIP_OFFSET}; right: ${SHIP_OFFSET};`,
    delay: 3 * DELAY_GAP,
    duration: ANIMATION_DURATION,
  },
];

function randomTop(): number {
  return Math.random() * (TOP_RANGE_MAX - TOP_RANGE_MIN) + TOP_RANGE_MIN;
}

const hashes: string[] = shipConfigs.map(
  ({ className, inlinePosition, delay, duration }) =>
    `<div
      class="spaceship ${className}"
      style="
        ${inlinePosition}
        animation-delay: ${delay}s;
        animation-duration: ${duration}s;
      "
    >🚀</div>`,
);
---

<div class="spaceship-container" set:html={hashes.join('')} />
